[Unit]
Description=Run the NL road test watcher every 5 minutes

[Timer]
OnCalendar=*:0/5
RandomizedDelaySec=20
Persistent=true

[Install]
WantedBy=timers.target
