[Unit]
Description=Run the NL road test watcher every 2 minutes

[Timer]
OnCalendar=*:0/2
RandomizedDelaySec=20
Persistent=true

[Install]
WantedBy=timers.target
